*{
  margin:0px;
  padding:0px;
  font-family:'poppins',sans-serif;
}

body{
  height:100vh;
  width:100vw;
  background-image: url("background.png");
   background-repeat: no-repeat;
    background-size: cover;      
  background-position: center; 
}
.nav-container{
  height:15%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav1{
  display:flex;
  align-items: center;
 
  width:25vw;
   justify-content: space-evenly;
   margin-right: 10vw;
 
}

.nav1 img{
    height:70%;
    margin-top:5%;
}
.nav1 a{
  color:White;
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
    margin-top:6%;
    transition: color 0.5s ease;
}
.nav1 a:hover{
  color:yellow;
}
.nav1 button{
  margin-top:6%;
  background:transparent;
  color:white;
  outline:none;
  border:none;
  height:30%;
  width:25%;
  border: 1px solid white;
  border-radius:15px;
  transition:all 0.5s ease;

}
.nav1 button:hover{
 background-color: white;
 color:black;
}

.nav2{
   display:flex;
  align-items: center;
  justify-content: space-around;
  width:40vw;
  
}

.menu{
  color:white;
  text-decoration: none;
  margin-top:4%;
  transition: color 0.5s ease;
}

.menu:hover{
  color:#E4D00A
}

.text{
  height:70%;
  display:flex;
  align-items:top;
  flex-direction: column;
  
}

.text h1{
  color:white;
  margin-top: 6%;
  margin-left:13vw;
  font-size:10vh;

}
.text span{
  color: rgb(243, 243, 4);
}
.text p{
  color:white;
  margin-top: 1%;
  margin-left:13vw;
  font-size:2.15vh;
}

.text button {
  margin-top: 3vh;
  margin-left: 13vw;
  height: 7vh;
  width: 11vw;
  border-radius: 20px;
  font-size: large;
  border: none;
  outline: none;
  background-color: #f0b429; 
  color: #0a192f; 
  box-shadow: 0 4px 15px rgba(240, 180, 41, 0.4);
  cursor: pointer;
  transition: all 0.4s ease;
}

.text button:hover {
  background-color: #ffffff; 
  color: #f0b429; 
  box-shadow: 0 6px 25px rgba(255, 202, 58, 0.7);
  transform: translateY(-2px);
}
.coins {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center; 
  height: 15vh;
  gap: 1vw; 
}

.coins button {
  height: 12vh;
  width: 12vw;
  margin-left: 2vw;
  background-color: transparent;
  border: 1px solid white;
  outline: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;

  display: flex;             
  flex-direction: column;
  align-items: center;       
  justify-content: center;   
}

.coins button:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
  transform: translateY(-2px);
}

.coins img {
  height: 5vh;
  margin: 0.3vh 0; 
}

.coins p {
  color: #ffffff;
  margin: 0;        
  text-align: center; 
  font-size: 2vh;   
}

.coins b {
  color: #f0b429;
  margin: 0;
  text-align: center;
  font-size: 2vh;     
}
@media (max-width:1024px){
 .text button{  width: 20vw;
 }
}
@media (max-width: 768px){
  .text button{
    width:50vw;
  }
.nav-container{
  display:flex;
  flex-direction:column;
}
.nav1{
  width:100vw;
  height: 14vh;
  display: flex;
  justify-content: space-evenly;
  
}
.nav2{
  width:100vw;
  display: flex;
  justify-content: space-evenly;
  
}
.text{
  height:50vh;
  margin-top: 10vh;
}
.coins{
  margin-top:10vh;
  width:100vw;
}
.coins button{
  width:13vw;
}
.menu{
  color:#f0b429;
  transition:color 0.5s ease;
}
.menu:active{
  color:#ffffff;
}
.nav1 a{
   color:#f0b429;
  transition:color 0.5s ease;
}
.nav1 a:active{
  color:#ffffff;
}
}